
    .videoGrid-box{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      column-gap: 16px;
      row-gap: 40px;     
    }

    @media (max-width:1150px) {
      .videoGrid-box {
        grid-template-columns: 1fr 1fr 1fr;
        transition: grid-template-coloumns 0.15s ;
      }

    @media (max-width: 830px) {
      .videoGrid-box {
        grid-template-columns: 1fr 1fr;
        transition: grid-template-coloumns 0.15s;
      }
    }
    @media (max-width: 510px) {
      .videoGrid-box {
        grid-template-columns: 1fr;
        transition: grid-template-coloumns 0.15s;
      }
    }

    }
    .thumbnail-box{
      margin-bottom: 8px;
      position: relative;
    }
    .thumbnail{
     width: 100%;
    }
    .video-time {
      padding: 2px 4px;
      border-radius: 2px;
      background-color: black;
      color: white;
      position: absolute;
      bottom: 8px;
      right: 5px;
    }

    .videoInfo-box{
      display: grid;
      grid-template-columns: 50px 1fr;
    }
    
    .video-title{
      margin-top: 0px;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      margin-bottom: 10px;
    }
    .profile-picture{
      width: 33px;
      border-radius: 50px;
    }
    .video-author{
      margin-bottom: 5px;
    }
    .check-circle{
      margin-left: 2px;
      width: 12px;
    }
    .video-author,.video-stats {
      font-size: 12px;
      color: rgb(96, 96, 96);
    }